@{

    ViewBag.Title = "Access Denied";
}



<div class="text-center">
    <h1>Access Denied</h1>
    <h5>You Do Not Have Permission To Acces This Resource</h5>
    <img src="~/images/NoAccess.png" style="width:300px; height:300px"  />
</div>