@model EmployeeEditViewModel;
@{
    ViewBag.Title = "Create Employee";
    string photopath = "~/Images/" + (Model.ExistingPhotoPath?? "No-Image1.jpg");

}
<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-3">

    <div class="col-sm-6 m-auto">
        <div class="card row">

            <div class="card-header">Create Employee</div>

            <input hidden asp-for="id" />
            <input hidden asp-for="ExistingPhotoPath" />
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="col-form-label"></label>

                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="Department"></label>
                    <select asp-for="Department" class="form-control" asp-items="Html.GetEnumSelectList<Dept>()">
                        <option value="">Select Designation</option>
                    </select>

                    <span asp-validation-for="Department" class="text-danger"></span>

                </div>

                <div class="form-group row">
                    <label asp-for="Photo" class="col-form-label"></label>
                    <div class="custom-file">
                        @*<input multiple asp-for="Photo" class="form-control custom-file-input" />*@
                        <input asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Chose File....</label>
                    </div>
                </div>

                <div class="form-group col-sm-8 offset-2">
                    <img src="@photopath" class="card-img-top imagethumbnail" asp-append-version="true" />
                </div>

            </div>
            <div class="card-footer bg-white">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm col-sm-4">Update</button>
                </div>
            </div>



        </div>



    </div>


    @section Scripts
    {
        <script>
            $(document).ready(function () {
                $(".custom-file-input").on("change", function () {
                    //var filename = $(this).val().split("\\").pop();
                    //$(this).next(".custom-file-label").html(filename);
                    var files = $(this)[0].files;
                    var filename = "";
                    if (files.length == 1) {
                        // $(files).each(function (index,item) {
                        //     if (filename == "")
                        //     {
                        //         filename = item.name
                        //     }
                        //else {
                        //         filename = filename + "'; " + item.name

                        //    }
                        // })
                        filename = files[0].name
                    }
                    else {
                        filename = files.length + " Files Selected"
                    }
                    $(this).next(".custom-file-label").html(filename)
                })
            })
        </script>

    }
</form>
